@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-dm_sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins font-bold;
  }

  .h1 {
    @apply text-titleColor text-8xl lg:text-[112px] tracking-[-3px];
  }

  .h2 {
    @apply text-5xl sm-max:text-[2rem] mb-12;
  }

  .h3 {
    @apply text-[23px];
  }

  .h4 {
    @apply text-[26px];
  }

  .h5 {
    @apply text-[22px];
  }

  .p {
    @apply text-base text-fontColor font-normal font-dm_sans
  }
}

.active {
  @apply text-backgroundImgColor;
}

.container {
  @apply w-full py-20 px-[15px] md:px-[24px] lg:px-[48px] lg:max-w-[1400px]
}

.swiper-pagination-bullet {
  opacity: 0.8 !important;
  background: #6DC9CA !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #12514A !important;
}